# Ignora quialsiasi file e cartella all'interno di questa directoy
*
*/
# Eccetto queste cartelle e file
!.gitignore
!config/
!config/assets/
!config/assets/.gitignore
!templates/
!config/*.example.yml
!templates/*.example.conf