PUID=1000
PGID=1000
TZ="Europe/Rome"            
CONTAINER_NAME=lidarr                   # Nome da assegnare al container
IMG_LINK=lscr.io/linuxserver/lidarr     # Link dell'immagine
IMG_VERSION=1.0.2.2592-ls98             # Versione dell'immagine         
IP=192.xxx.x.194                        # Indirizzo ip univoco da assegnare al cont  
PORT_INT=8686                           # Porta interna del container
PORT_PUB=                               # Porta pubblica del container
PROFILE=indexers                        # Profilo 
DOMAIN_NAME=dominio.com                 # Nome dominio, es. dominio.com

DIR_DOWNLOAD_FOLDER=/path/to/downloads_folder
DIR_MEDIA_MUSIC=/path/to/music_root_folder