# -----------------------------------------------------------------
# .gitignore per CUSTOM DOCKER LAB @enricomarogna
# ver 20220419
#
# Per default tutti i files e le cartelle vengono ignorate.
# È neccessario inserire in whitelist tutti i files/cartelle che si
# vuole mettere sotto controllo di vesrione
#
# To ignore uncommitted changes in a file that is already tracked, use 
# git update-index --assume-unchanged
#
# To stop tracking a file that is currently tracked, use 
# git rm --cached
#
# -----------------------------------------------------------------

#### ------- BLACKLIST -------
*
*/


#### ------- WHITELIST -------
!.gitignore
!README.md
!.env.example
!docker-compose.yml

!*_lab
!*_lab/*/
!*_lab/*/conf/
!*_lab/*/secrets/