# -----------------------------------------------------------------
# .gitignore per CUSTOM DOCKER LAB @enricomarogna
# ver 20220222
#
# Per default tutti i files e cartelle vengono ignorate.
# È neccessario inserire in whitelist tutti i files/cartelle che si
# vuole mettere sotto controllo di vesrione
#
# To ignore uncommitted changes in a file that is already tracked, use 
# git update-index --assume-unchanged
#
# To stop tracking a file that is currently tracked, use 
# git rm --cached
#
# -----------------------------------------------------------------

# ignora qualunque file e cartella
*
*/

#### ------- WHITELIST -------
!.gitignore
!README.md
!.env.example
!docker-compose.yml


## FRONTEND LAB
!frontend_lab/
!frontend_lab/nginx-pm
!frontend_lab/nginx-pm/conf
!frontend_lab/nginx-pm/secrets


## MEDIACENTER LAB
!mediacenter_lab/
!mediacenter_lab/navidrome


## MONITORING LAB
!monitoring_lab/
# Diun
!monitoring_lab/diun/
!monitoring_lab/diun/conf/
!monitoring_lab/diun/secrets/
# Flame
!monitoring_lab/flame/
!monitoring_lab/flame/conf/
# Glances
!monitoring_lab/glances
!monitoring_lab/glances/conf


## SERVICES LAB
!services_lab/
# Socket Proxy
!services_lab/socket_proxy/
# Linkding
!services_lab/linkding/
!services_lab/linkding/conf/
# Rss Bridge
!services_lab/rssbridge/
!services_lab/rssbridge/conf