PUID=1000
PGID=1000
TZ="Europe/Rome"            
CONTAINER_NAME=flaresolverr                     # Nome da assegnare al container
IMG_LINK=ghcr.io/flaresolverr/flaresolverr      # Link dell'immagine
IMG_VERSION=v2.2.4                              # Versione dell'immagine         
IP=192.xxx.x.198                                # Indirizzo ip univoco da assegnare al cont  
PORT_INT=8191                                   # Porta interna del container
PORT_PUB=                                       # Porta pubblica del container
PROFILE=indexers                                # Profilo 
DOMAIN_NAME=dominio.com                         # Nome dominio, es. dominio.com