PUID=1000
PGID=1000
TZ="Europe/Rome"            
CONTAINER_NAME=tautulli                     # Nome da assegnare al container
IMG_LINK=lscr.io/linuxserver/tautulli       # Link dell'immagine
IMG_VERSION=v2.10.2-ls40                    # Versione dell'immagine         
IP=192.xxx.x.223                            # Indirizzo ip univoco da assegnare al cont  
PORT_INT=8181                               # Porta interna del container
PORT_PUB=                                   # Porta pubblica del container
PROFILE=indexers                            # Profilo 
DOMAIN_NAME=dominio.com                     # Nome dominio, es. dominio.com