PUID=1000
PGID=1000
TZ="Europe/Rome"            
CONTAINER_NAME=sonarr                   # Nome da assegnare al container
IMG_LINK=lscr.io/linuxserver/sonarr     # Link dell'immagine
IMG_VERSION=3.0.8.1507-ls143            # Versione dell'immagine
IP=192.xxx.x.201                        # Indirizzo ip univoco da assegnare al cont  
PORT_INT=8989                           # Porta interna del container
PORT_PUB=                               # Porta pubblica del container
PROFILE=indexers                        # Profilo 
DOMAIN_NAME=dominio.com                 # Nome dominio, es. dominio.com

DIR_DOWNLOAD_FOLDER=/path/to/downloads_folder
DIR_MEDIA_TVSHOWS=/path/to/tvshows_folder
DIR_MEDIA_ANIME=/path/to/anime_folder