PUID=1000
PGID=1000
TZ="Europe/Rome"            
CONTAINER_NAME=prowlarr                 # Nome da assegnare al container
IMG_LINK=ghcr.io/linuxserver/prowlarr   # Link dell'immagine
IMG_VERSION=develop-0.2.0.1678-ls50     # Versione dell'immagine        
IP=192.xxx.x.197                        # Indirizzo ip univoco da assegnare al cont  
PORT_INT=9696                           # Porta interna del container
PORT_PUB=                               # Porta pubblica del container
PROFILE=indexers                        # Profilo 
DOMAIN_NAME=dominio.com                 # Nome dominio, es. dominio.com