PUID=1000
PGID=1000
TZ="Europe/Rome"            
CONTAINER_NAME=overseerr                        # Nome da assegnare al container
IMG_LINK=lscr.io/linuxserver/overseerr          # Link dell'immagine
IMG_VERSION=v1.29.1-ls30                        # Versione dell'immagine         
IP=192.xxx.x.193                                # Indirizzo ip univoco da assegnare al cont  
PORT_INT=5055                                   # Porta interna del container
PORT_PUB=                                       # Porta pubblica del container
PROFILE=indexers                                # Profilo 
DOMAIN_NAME=dominio.com                         # Nome dominio, es. dominio.com